{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vote</title>
     <script src="https://cdn.tailwindcss.com"></script>
<!--    &lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->

    <!-- Compiled and minified JavaScript -->

</head>

<style>
    body {
      display: flex;
       min-height: 100vh;
      flex-direction: column;
    }
    man{
        height: 200px;

      }
main {
  flex: 1 0 auto;
}
.blacktext {
      color: black;
      font-size: 20px;
}
td{text-align:center}
    #ps{margin:auto}
</style>

    <nav >
        <div  class="text-right p-1 bg-indigo-500 text-indigo-100">

            <h5>Welcome to the Voting Page, <span class="text-orange-300" >{{ voter_id }}!</span></h5>
        </div>
        <div class=" flex justify-center items-center gap-5 lg:h-44 md:h-64 bg-orange-400 ">
            <img src="{% static 'sj.png' %}" alt="satyamev jayate"  width="70" height="100" ;>

            <div class=" text-indigo-900 font-bold  lg:7xl  md:text-6xl text-4xl"><h3 >Election Commission Of Bharat</h3></div>

        </div>
    </nav>

<body>
<main>


    <div class="container-xl flex justify-center items-center">

        <table class="w-full sm:w-1/2 md:3/4" >


            <thead class=" border-b-4 border-indigo-500" >
            <tr>
                <th>Party Symbol</th>
                <th>Party</th>
                <th>Candidate Name</th>
                <th>Vote</th>
            </tr>
            </thead>

            <tbody class="text-2xl">
            {% for opposition in opposition_list %}
            <tr class="border-b h-28 " >
                <td  > <img id="ps" src="/media/{{opposition.party_symbol}}" width="40px" > </td>
                <td>{{ opposition.party_name }}</td>
                <td>{{ opposition.candidate_name}}</td>
                <td>
                    <form method="post" action="{% url 'vote' %}">
                        {% csrf_token %}
                        <input type="hidden" name="voter_id" value="{{ voter_id }}">
                        <input type="hidden" name="opposition_id" value="{{ opposition.op_id }}">
                        <button class="px-3 py-1 bg-orange-100 rounded-xl" type="submit">Vote</button>
                    </form>
                </td>
            </tr>

            {% endfor %}
              <tr class="border-b h-28 " >
                <td colspan="3" >None of The Above</td>
                <td>
                    <form method="post" action="{% url 'vote' %}">
                        {% csrf_token %}
                        <input type="hidden" name="voter_id" value="{{ voter_id }}">
                        <input type="hidden" name="opposition_id" value="NOTA">
                        <button class="px-3 py-1 bg-orange-100 rounded-xl" type="submit">✕</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


</body>


<footer  class="bg-green-700 lg:h-28 md:h-28 h-32 flex justify-center items-center">
    <div class="text-center  text-indigo-900 font-bold  lg:5xl  md:text-4xl text-2xl">Election Commission of Bharat</div>
</footer>
</html>
