        footer{
    margin: 0;
    background: lightgray;
border-radius: 8px;
color: black;
}

  .fut{
    margin: 0;
    padding: 20px;
    text-align: center;
}

.foot{
    margin: 0;
    color:white;
    margin: 0;padding: 0;
    background-color: black;
    padding: 10px;

}
.about
{
    margin: 0;
    padding:30px;
}
        #header{
            display:flex;
            justify-content:center;
        }
        body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
header {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

main {
    text-align: center;
}

.election-info {
    margin-top: 0%;
    margin-bottom: 30px;
    background-color: lightgray;

}
.button{
    width: 99px;height: 45px; font-size: 16px;color: white; background-color: rgb(60, 81, 220); border-radius: 15px;
    padding:8px
}
.section {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}
.section1 {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(255, 166, 0);
}
.section2 {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: green;
}
.candidate {
    display: inline-block;
    margin: 10px;
}
.candidate img {
    max-width: 150px;
    border-radius: 8px;
}
.vote-button {
    padding: 20px 30px;
    font-size: 20px;
}
        a{
        text-decoration:none
        }
        #results{
        display:none}